.form-group *{
  padding: 4px !important;
}

.jumbotron{
  background-color: #252d30;
  color: #F2F2F2;;
  position: static;
}

.btn{
  background-color: #252d30;
  color: #F2F2F2;
}

.btn:hover{
  background-color: #F2F2F2;
  color: #252d30;
  border-color: #252d30;
  transition: background-color 100ms;
}

.btn:focus{
  background-color: #BDBDBD;
  color: #252d30;
  border-color: #252d30;
}

.main-glass{

}

.formDiv{
  display: table;
  padding-bottom: 5px;
}

.jumbotron-button{
  background-color: #F2F2F2;
  color: #252d30;
}

.jumbotron-button:hover{
  background-color: #252d30;
  color: #F2F2F2;
  border-color: #F2F2F2;
  transition: background-color 100ms;
}

#divVuelta{
  display: none;
}

#divButaca{
  padding: 5px;
  border-top: groove #2E2E2E;
}

ul > a{
}

body{
  background: url('../images/wallpaper-1.jpg');
  background-size: cover;
}
