.btn{
  margin: 5px;
}

.jumbotron{
  background-color: #252d30;
  max-height: 250;
  max-width: 100%;
  margin-bottom: 0;
  color: #F2F2F2;
  text-align: center;
}

.main{
  width: 50%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.80);
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color: #252d30;
  color: #F2F2F2;
}

.intro{
  background: rgba(255, 255, 255, 0.60);
  z-index: 2;
  color: black;
}

body{
  background-image: url('../images/bus-vector.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #848484;
}

input{
  text-align: center;
}

form{
  text-align: center;
}

@media (max-width: 400px) {
  .main{
    width: 80%;
  }

  .intro{
    background: rgba(255, 255, 255, 0.60);
    color: black;
  }
}
