.comun{
  color: green;
}

.semicama{
  color: #003300;
}

.cama{
  color: #006666;
}

.datepicker{
  position: relative;
  z-index: 10000 !important;
}

.form-group *{
  margin-bottom: 5px;
}

.jumbotron{
  margin-bottom: 0;
}

#boton{
  padding: 20px;
}

#ida, #vuelta{
  margin-bottom: 5px;
}

#tarjeta{
  margin-top: 50px;
}

body{
  background: url('../images/wallpaper-4.jpg') no-repeat;
  background-size: cover;
}
