@font-face {
    font-family: butlerBold;
    src: url('fonts/Butler_Bold.otf');
}

.main-glass{
  position: relative;
  overflow: hidden;
  background: inherit;
  z-index: 1;
  box-shadow: 0 .5em 1em rgba(0,0,0,.8);
}

.main-glass::before{
  content: "";
  top: 0; right: 0; bottom: 0; left: 0;
  position: absolute;
  filter: blur(5px);
  background: inherit;
  box-shadow: inset 0 0 3000px rgba(255,255,255,.8);
  margin: -20px;
  z-index: -1;
}

.button-glass{
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background: #252d30;
  z-index: 1;
  box-shadow: 0 .5em 1em rgba(0,0,0,.8);
}

.tableTitle{
  text-align: center;
  font-weight: bold;
}

.butacas{
  font-size:35px;
  padding: 0px;
  color: #333;
}

.butacaComun{
  color: green;
}

.butacaSemicama{
  color: #003300;
}

.butacaCama{
  color: #006666;
}

.butacaClicked{
  color: #E4A11B !important;
}

.butacaNumber{
  color: white;
  position: absolute;
  text-align: center;
  width: 4%;
  padding-top: 1%;
}

.caption{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.toClick:hover i{
  color: #efc776;
}

.pasillo{
  text-align: center;
  font-size: 130%;
  background-color: #d9d9d9;
  width: 5px;
}

.tvPasillo{
  font-size: 5px;
}

.divTabla{
  float: left;
  padding: 0px 40px 0px 60px;
}

.divTabla::before{
  content: '';
  z-index: -1;
  margin-left: -40px;
  width: 50%;
  height: 100%;
  position: absolute;
  display: block;
  background: url('../images/bus-from-top-wide.png') -37px -22px no-repeat;
  background-size: cover;
}

.divNumero{
  position: absolute;
  top: 10px;
  left:10px;
  font-size:70%;
  z-index: 2;
  color: white;
}

.divButaca{
  position: absolute;
  top: 10px;
  left:10px;
  z-index: 1;
}

.divBtn{
   float: left;
}

.jumbotron{
  background-color: #252d30;
  color: #F2F2F2;;
  position: static;
}

.tableBorder{
  border-color: black;
  border-collapse: collapse;
}

.btn{
  background-color: #252d30;
  color: #F2F2F2;
}

.btn:hover{
  background-color: #F2F2F2;
  color: #252d30;
  border-color: #252d30;
}

td{
  border: none !important;
}

body{
  background: url('../images/grey-white-wallpaper.jpg') no-repeat;
  background-size: cover;
  font-family: butlerBold;
  font-size: 170%;
}
