#divOrigen, #divDestino, #divRadio, #divBotones, #divTramo, #divEmpresa{
    width: 50%;
    float: left;
    display: inline-block;
}
#divRadio{
    padding: 5px;
}
#divTramo, #divEmpresa{
    padding-top: 20px;
}

#divTramo, #divEmpresa > span{
    font-weight: bold;
    font-size: 20px;
}
