#divOrigen, #divDestino, #divRadio, #divBotones, #divTramoIda, #divTramoVuelta, #divEmpresa{
    width: 50%;
    float: left;
    display: block;
    padding: 5px;
}
#divRadio{
    padding: 5px;
}
#divTramoIda, #divTramoVuelta, #divEmpresa{
    padding-top: 20px;
    padding-left: 17px;
}

#divTramoIda, #divTramoVuelta, #divEmpresa > span{
    font-weight: bold;
    font-size: 20px;
}

#fechaDiv{
    left: 8%;
    top: 10px;
    position: absolute;
}

#idiomaDropdown{
    top: 10px;
    right: 4%;
    position: absolute;
}

#divRadioModal{
    float:left;
    border-right: 3px solid;
    width: 15%;
}

#divContentModal{
    float:left;
    padding-left: 20px;
}

#divDanger{
    display: none;
    background-color: #ffcccc;
    text-align: center;
    padding: 5px;
    position: fixed;
    left: 15%; /*A la derecha deje un espacio de 0px*/
    right: 15%; /*A la izquierda deje un espacio de 0px*/
    bottom: 0px; /*Abajo deje un espacio de 0px*/
    height: 50px; /*alto del div*/
    z-index: 0;
}

#divBtnBuscar{
  padding: 5px;
}

.dropdownMargin{
    margin-bottom: 5px;
}

.backgroundColor{
   background-color: #ededed;
}

.jumbotron{
  background-color: #252d30;
  color: #ededed;
  position: static;
}

.btn-per,
.btn-per:active {
  color: #E4A11B;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #252d30;
}

.btn-per:focus,
.btn-per.focus {
  color: #fff;
  background-color: #6E6E6E;
  border-color: #122b40;
}

.btn-per.active.focus,
.open > .dropdown-toggle.btn-per.focus {
  color: #fff;
  background-color: #BDBDBD;
  border-color: #122b40;
}

.btn-per:hover {
  color: #252d30;
  background-color: #BDBDBD;
}

.blur{
  width:88%;
  height:200%;
  top: 0;
  left: 120px;
  z-index: -1;
  background-image:url('../images/fondo_gris.jpg');
  position: fixed;
}

.noDisplay{
  display: none;
}

body{
  background-image:url('../images/collage.jpg');
  background-repeat: repeat-x;
  margin: 0;
}
